@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
         url('../fonts/space-mono-v11-latin-700.woff') format('woff');
  }
  @font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'),
         url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff');
  }
html{
  height: 100%;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", "Arial", sans-serif;
  font-weight: 700;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}
.header-hero {
    padding: 22px 0;
    display: flex;
    align-items: center;
}
.header-hero__list {
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.header-hero__items {
    margin-left: 32px;
}
.header-hero__link {
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #939CAA;
}
.header-hero__link:hover {
    color: #FCB72B;
}
.header-hero__items:first-child {
    margin-left: 58px;
}
.header-hero__button {
    margin-left: auto;
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCB72B;
    border: 3px solid transparent;
}
.header-hero__button:hover {
    color: #FCB72B;
    background-color: #fff;
    border: 3px solid #FCB72B;
}
.s1-bg-img {
    width: 100%;
    padding: 152px 0;
    background-image: url("../images/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.s1-intro {
    position: relative;
    width: 500px;
}
.s1-intro::after {
    position: absolute;
    top: 91%;
    right: -176%;
    display: block;
    width: 234px;
    height: 63px;
    background-image: url("../images/s1-intro-after.svg");
    background-repeat: no-repeat;
    content: "";
}
.s1-intro__title {
    margin: 0 0 40px 0;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}
.s1-intro-text-and-button-box {
    position: relative;
    padding-left: 95px;

}
.s1-intro-text-and-button-box::before {
    position: absolute;
    top: 32%;
    left: -26%;
    display: block;
    width: 203px;
    height: 13px;
    background-color: #FCB72B;
    content: "";
}
.s1-intro-text-and-button-box::after {
    position: absolute;
    top: 31%;
    right: -100%;
    display: block;
    width: 447px;
    height: 138px;
    background-image: url("../images/to-right.svg");
    background-repeat: no-repeat;
    content: "";
}
.s1-intro__text {
    margin: 0 0 40px 0;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}
.s1-intro-button {
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCB72B;
    border: 3px solid transparent;
}
.s1-intro-button:hover {
    color: #FCB72B;
    background-color: #fff;
    border: 3px solid #FCB72B;
}
.s2 {
    position: relative;
    padding: 150px 0;
}
.s2::after {
    position: absolute;
    top: 35%;
    left: -13%;
    display: block;
    width: 1000px;
    height: 13px;
    background-color: #E5ECF4;
    content: "";
}
.s2__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.s2__items {
    width: 350px;
}
.s2__items::before {
    position: relative;
    z-index: 5;
    display: block;
    width: 96px;
    height: 96px;
    background-image: url("../images/Group8.svg");
    background-repeat: no-repeat;
    content: "";
}
.s2__items:nth-child(2)::before {
    background-image: url("../images/Group9.svg");
}
.s2__items:nth-child(3)::before {
    background-image: url("../images/Group10.svg");
}
.s2__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}
.s2__text {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.s3 {
    padding: 110px 0 0 0;
    list-style: none;
}
.s3__items {
    position: relative;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s3__items::after {
    position: absolute;
    top: 67%;
    left: 50%;
    width: 740px;
    height: 140px;
    background-image: url("../images/to-left.svg");
    background-repeat: no-repeat;
    content: "";
}
.s3__items:nth-child(2)::after {
    position: absolute;
    top: 0%;
    left: -22.8%;
    background-image: url("../images/to-right.svg");
}
.s3__items:nth-child(3)::after {
    position: absolute;
    top: 17%;
    left: 83%;
    margin: 0;
    background-image: url("../images/to-left.svg");
}
.s3__words-box {
    width: 445px;
}
.s3__title {
    margin: 0 0 24px 0;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}
.s3__text {
    position: relative;
    margin: 0 0 40px 0;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.s3__link {
    padding: 14px 43px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCB72B;
    border: 3px solid transparent;
}
.s3__link:hover {
    color: #FCB72B;
    background-color: #fff;
    border: 3px solid #FCB72B;
}
.s3__imgs:nth-child(1) {
    border-radius: 50%;
    box-shadow: -507px 0px #e5ecf4;
}
.s3__imgs:nth-child(2) {
    border-radius: 50%;
    box-shadow: 507px 0px #e5ecf4;
}
.s3__imgs:nth-child(3) {
    border-radius: 50%;
    box-shadow: 507px 0px #e5ecf4;
}
.footer-hero {
    background-color: #495567;
    padding: 100px 0;
}
.footer-hero__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-hero__box::after {
    position: absolute;
    top: 45%;
    left: 26%;
    display: block;
    width: 1153px;
    height: 347px;
    background-image: url("../images/before-foot-bg.svg");
    background-repeat: no-repeat;
    content: "";
}
.footer-hero__title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
}
.social-links {
    display: flex;
}
.footer-hero__link-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6px;
    padding: 9px 15px;
    text-decoration: none;
    background-color: #E5ECF4;
    border-radius: 4px;
}

.footer-hero__items-1 {
    margin-left: 12px;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: #495567;
}
.footer-hero__items-2 {
    margin-left: 12px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
    color: #495567;
}
.end-footer {
    position: relative;
    padding: 35px 0;
    background-color: #333A44;
}
.end-footer-box {
    display: flex;
    align-items: center;
}
.end-footer-box__list {
    display: flex;
    margin-left: 58px;
    padding-left: 0;
    list-style: none;
}
.end-footer-box__links {
    margin-right: 32px;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    text-decoration: none;
}
.end-footer-box__links:hover {
    color: #FCB72B;
}
.social-icons {
    width: 145px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons__links {
    color: #FCB72B;
}
.social-icons__links:hover {
    color: #E5ECF4;
}

.about-s1-intro {
    width: 100%;
    padding: 65px 0;
    background-image: url("../images/caree-and-location-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.about-s1-intro__title {
    margin: 0;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}
.about-s2 {
    padding: 130px 0 80px 0;
}
.about-s2__list {
    padding-left: 0;
    list-style: none;
}
.about-s2__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.about-s2__items::before {
    position: absolute;
    top: 59%;
    left: 50%;
    z-index: 1;
    width: 740px;
    height: 140px;
    background-image: url("../images/about-to-left.svg");
    background-repeat: no-repeat;
    content: "";
}
.about-s2__items:last-child {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}
.about-s2__items:last-child::before {
    position: absolute;
    top: 1%;
    left: -22.8%;
    z-index: 1;
    background-image: url("../images/to-right.svg");
}
.about-s2__box {
    width: 445px;
}
.about-s2__title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}
.about-s2__text {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.about-s2__imgs-1 {
    position: relative;
    border-radius: 50%;
    box-shadow: 507px 0 #E5ECF4;
}
.about-s2__imgs-2 {
    position: relative;
    border-radius: 50%;
    box-shadow: -507px 0 #E5ECF4;
}
.about-s3 {
    padding: 60px 0;
}
.about-s3__title {
    margin: 0 0 100px 0;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
}
.about-s3__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.about-s3__items {
    position: relative;
    width: 350px;
}
.about-s3__items::before {
    position: absolute;
    top: 49%;
    left: 34%;
    z-index: 1;
    display: block;
    width: 96px;
    height: 96px;
    background-image: url("../images/1.svg");
    border-radius: 50%;
    content: "";
}
.about-s3__items:nth-child(2)::before {
    background-image: url("../images/2.svg");
}
.about-s3__items:nth-child(3)::before {
    background-image: url("../images/3.svg");
}
.about-s3__items-img1 {
    position: relative;
    border-radius: 50%;
    margin-bottom: 100px;
}
.about-s3__items-img2 {
    position: relative;
    border-radius: 50%;
    margin-bottom: 100px;
}
.about-s3__items-img3 {
    position: relative;
    border-radius: 50%;
    margin-bottom: 100px;
}
.about-s3__items-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
}
.about-s3__items-text {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #939CAA;
}
.about-s4-faq {
    padding: 60px 0 160px 0;
}
.about-s4-faq__title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
}
.about-s4-faq__box {
    display: flex;
    justify-content: space-between;
}
.about-s4-faq__box-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
}
.about-s4-faq__list-box {
    width: 730px;
    margin-bottom: 65px;
}
.about-s4-faq__text {
    margin-bottom: 16px;
    padding: 32px 40px 10px 32px;
    background-color: #F2F5F9;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
}
.about-s4-faq__text-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    list-style: none;
    color: #495567;
}
.about-s4-faq__text:hover {
    background-color: #FFF4DF;
}
.about-s4-faq__text-button::after {
    display: block;
    width: 26px;
    height: 16px;
    background-image: url("../images/top-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.careers-s1 {
    padding: 180px 0 150px 0;
}
.careers-s1__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.careers-s1__box::before {
    position: absolute;
    top: 67%;
    left: 50%;
    width: 740px;
    height: 140px;
    z-index: 1;
    display: block;
    background-image: url("../images/to-left.svg");
    background-repeat: no-repeat;
    content: "";
}
.careers-s1__title-and-text-box {
    width: 445px;
}
.careers-s1__title {
    margin: 0 0 24px 0;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}
.careers-s1__text {
    margin: 0 0 40px 0;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}
.careers-s1__link {
    padding: 14px 48px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;    
    background-color: #FCB72B;
    border: 3px solid transparent;
}
.careers-s1__link:hover {
    color: #FCB72B;
    background-color: #fff;
    border: 3px solid #FCB72B;
}
.careers-s1__img {
    position: relative;
    border-radius: 50%;
    box-shadow: 507px 0px #e5ecf4;
}
.careers-s3 {
    padding: 60px 0 160px 0;
}
.careers-s3__list {
    padding-left: 0;
    list-style: none;
}
.careers-s3__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 38px 64px 38px 40px;
    background-color: #F2F5F9;
}
.careers-s3__items:last-child {
    margin: 0;
}
.careers-s3__title {
    margin: 0 0 8px 0;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}
.careers-s3__address {
    margin: 0;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #495567;    
}
.careers-s3__link {
    padding: 14px 66px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FCB72B;
    border: 3px solid transparent;
}
.careers-s3__link:hover {
    color: #FCB72B;
    background-color: #fff;
    border: 3px solid #FCB72B;
}

